#Header{
	font-family:Verdana;
	font-size:1.5em;
	color:#dd502b
}
p{
	font-size:1.2em;
	margin-left:2em;
	margin-right:2em;
}
#Inventions{
	width:45%;
	float:right;
}
body{
	background:#ff926e
}
ul {
	//display: flex;
	//flex-direction: row;
	//flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none;
	text-align: center;
}
li{
	margin: 0 1em 1em 0;
	display: inline-block;
    height: 150px;
    width: 150px;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 150px;
  margin: 0 13em 4em 0;
  position: relative;
  width: 150px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: row;
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  border-radius:5px;
}

span.text-content span {
  display: table-row;
  text-align: center;
  vertical-align: middle;

  
}
ul li:hover span.text-content {
  opacity: 1;
}

span.year {
	font-size: 3em;
}
